
<div class="container" >
    <!-- start: PAGE HEADER -->
    <div class="row">
      <div class="col-sm-12">
          
          <!-- start: PAGE TITLE & BREADCRUMB -->
          <ol class="breadcrumb">
          
           <li class="breadcrumb-item" >
               <a routerLink="/"> <i class="fa fa-home"></i>&nbsp;Home </a>
           </li>
              <li class="breadcrumb-item active" aria-current="page">Add Product</li>
          </ol>
      </div>
  </div>
		<div class="card">
        <div class="card-header"> <h4>Add Product</h4> </div>
    
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
         <div class="form-group">
           <label>Product Name</label>
             <input class="form-control mb-3" placeholder="Enter Product Name" type="text" [(ngModel)]="product.prod_name" id="prod_name" name="prod_name" required />
         </div>
         
         <div class="form-group">
           <label>Unit</label>
             <select id="prod_unit" class="form-control mb-3" [(ngModel)]="product.prod_unit" name="prod_unit" required >
                 <option selected disabled  >Please Select Unit</option>
                 <option value="kg">KiloGram</option>
                 <option value="lt">Liter</option>
                 <option value="mt">Meter</option>
                 <option value="num">Number</option>
             </select> 
         </div>
         
         <div class="form-group">
           <label>Product Price</label>
             <input class="form-control mb-3" placeholder="Enter Product Price" [(ngModel)]="product.prod_price" type="text" id="prod_price" name="prod_price" required />
         </div>
         
         <div class="form-group">
           <label>Product Model Number</label>
             <input class="form-control mb-3" placeholder="Enter Product Model Number" [(ngModel)]="product.prod_model_no" type="text" id="prod_model_no" name="prod_model_no" required />
         </div>
         
         <div class="form-group">
           <label>Product HSN</label>
             <input class="form-control mb-3" placeholder="Enter HSN" type="number" [(ngModel)]="product.prod_hsn" id="prod_hsn" name="prod_hsn" required />
         </div>
         
         <div class="form-group">
           <label>GST Tax Rate</label>
             <input class="form-control mb-3" placeholder="Enter GST " type="number"  [(ngModel)]="product.gsttax" id="gsttax" name="gsttax" required />
         </div>    
      <input type="submit"  value="Submit" class="btn btn-primary">			 	
   </form>
  </div>
 </div>
</div>