<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Sr no</th>
                <th>Product Name</th>
                <th>HSN</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of prodlist; let i=index">
                <td>{{i+1}}</td>
                <td>{{prod.prod_name}}</td>
                <td>{{prod.prod_hsn}}</td>
                <td>{{prod.prod_price }}</td>
            </tr>
        </tbody>
    </table>
</div>